<div class="sidebar_wrapper site-sidebar-shell">
  <div class="sidebar">
    <div class="content">
      <ul class="sidebar_widget">
        <li class="widget widget_text">
          <h2 class="widgettitle">About Me</h2>
          <div class="textwidget">
            <p><img width="300" height="300" src="https://themes-themegoods.b-cdn.net/grandblog/demo/wp-content/uploads/2015/11/aboutme.jpg" alt="OneTicketAway" style="margin-bottom:10px;"/><br />
            OneTicketAway icin seyahat hikayeleri, rota notlari ve ilham veren sehir duraklari burada bir araya geliyor. Yeni yazilarla ana sayfa duzenli olarak guncelleniyor.</p>
            <div style="margin-top:20px;text-align:center;"><img width="346" height="82" src="https://themes-themegoods.b-cdn.net/grandblog/demo/wp-content/uploads/2015/11/signature.png" style="width:173px;height:auto;"/></div>
          </div>
        </li>

        <li class="widget widget_text">
          <h2 class="widgettitle">Subscribe</h2>
          <div class="textwidget">
            <form class="simple-newsletter-form" action="/admin/login" method="get">
              <p><input type="email" name="email" placeholder="E-posta adresiniz" /></p>
              <p><input type="submit" value="Abone Ol" /></p>
            </form>
          </div>
        </li>

        <li class="widget widget_text">
          <h2 class="widgettitle"><span>Follow Me On</span></h2>
          <div class="textwidget">
            <div class="social_wrapper shortcode light small">
              <ul>
                <li class="facebook"><a target="_blank" title="Facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                <li class="twitter"><a target="_blank" title="Twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                <li class="pinterest"><a target="_blank" title="Pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
                <li class="instagram"><a target="_blank" title="Instagram" href="#"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        </li>

        <li class="widget Grand_Blog_Popular_Posts">
          <h2 class="widgettitle"><span>Popular Posts</span></h2>
          <ul class="posts blog withthumb">
            <% Post.published.limit(3).each do |post| %>
              <li>
                <div class="post_circle_thumb">
                  <a href="<%= post_path(post) %>">
                    <img src="<%= post.cover_image_url.presence || "https://themes-themegoods.b-cdn.net/grandblog/demo/wp-content/uploads/2015/07/15-300x200.jpg" %>" alt="<%= post.title %>" />
                  </a>
                </div>
                <div>
                  <a href="<%= post_path(post) %>"><%= post.title %></a>
                  <div class="post_attribute"><%= (post.published_at || post.created_at).strftime("%B %-d, %Y") %></div>
                </div>
              </li>
            <% end %>
          </ul>
        </li>

        <li class="widget Grand_Blog_Custom_Ads">
          <img width="306" height="256" src="https://themes-themegoods.b-cdn.net/grandblog/demo/wp-content/uploads/2015/11/banner300x250.png" alt="Advertisement"/>
        </li>

        <li class="widget widget_categories">
          <h2 class="widgettitle">Categories</h2>
          <ul>
            <li class="cat-item"><a href="#">Art</a></li>
            <li class="cat-item"><a href="#">Food</a></li>
            <li class="cat-item"><a href="#">Lifestyle</a></li>
            <li class="cat-item"><a href="#">Travel</a></li>
          </ul>
        </li>

        <li class="widget widget_text">
          <h2 class="widgettitle">Admin</h2>
          <div class="textwidget">
            <p>Yeni icerik eklemek ya da mevcut yazilari guncellemek icin admin paneline gecebilirsin.</p>
            <p><a href="/admin/login" class="button">Admin Paneli</a></p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
