<div class="sidebar_content two_cols mixed">
  <div id="post-<%= post.id %>" class="single-dynamic-post post-<%= post.id %> post type-post status-publish format-standard has-post-thumbnail hentry">
    <div class="post_wrapper">
      <div class="post_content_wrapper">
        <div class="post_header single">
          <div class="post_img static">
            <img src="<%= post.cover_image_url.presence || "https://themes-themegoods.b-cdn.net/grandblog/demo/wp-content/uploads/2015/07/22-960x640.jpg" %>" alt="<%= post.title %>" style="width:960px;height:640px;" />
          </div>

          <br class="clear"/>

          <div class="post_header_title">
            <div class="post_info_cat">
              <span><a href="#">OneTicketAway</a></span>
            </div>
            <h1><%= post.title %></h1>
            <hr class="title_break">
            <div class="post_detail post_date">
              <span class="post_info_date">
                <span>Posted On <%= (post.published_at || post.created_at).strftime("%B %-d, %Y") %></span>
              </span>
            </div>
          </div>

          <% if post.excerpt.present? %>
            <p class="post_excerpt"><%= post.excerpt %></p>
            <hr class="readmore_break">
          <% end %>

          <div class="post_content_body">
            <%= simple_format(post.body) %>
          </div>

          <hr class="readmore_break">
          <div class="post_button_wrapper">
            <a class="readmore" href="/">Ana Sayfaya Don</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
